<body>
  <h2>Halo!</h2>
  <form id= "daftar " method="POST" action="/kontak">
    <label for="id">Namamu siapa?</label>
    <input type="text" name="id" value=""/>
    <input type="submit" value=" D A F T A R "/>
  </form>
</body>